## Deliverable 2. Create a Customer Travel Destinations Map.

In [116]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [117]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Country
0,0,Ahipara,-35.1667,173.1667,67.33,78,100,11.01,overcast clouds,NaN
1,1,Vaini,-21.2000,-175.2000,79.88,78,100,13.13,moderate rain,NaN
2,2,Lorengau,-2.0226,147.2712,79.09,83,100,11.14,overcast clouds,NaN
3,3,Ushuaia,-54.8000,-68.3000,47.86,61,75,28.77,light intensity drizzle,NaN
4,4,Sao Jose Da Coroa Grande,-8.8978,-35.1478,81.77,75,99,10.22,overcast clouds,NaN

In [118]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [119]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Country
1,1,Vaini,-21.2000,-175.2000,79.88,78,100,13.13,moderate rain,NaN
2,2,Lorengau,-2.0226,147.2712,79.09,83,100,11.14,overcast clouds,NaN
4,4,Sao Jose Da Coroa Grande,-8.8978,-35.1478,81.77,75,99,10.22,overcast clouds,NaN
6,6,Vaini,-21.2000,-175.2000,79.81,78,100,12.06,light rain,NaN
7,7,Lorengau,-2.0226,147.2712,78.30,87,100,12.01,overcast clouds,NaN
...,...,...,...,...,...,...,...,...,...,...
1392,1392,Lodja,-3.4833,23.4333,75.15,69,100,2.33,overcast clouds,CD
1404,1404,Luanda,-8.8368,13.2343,78.80,83,75,9.22,broken clouds,AO
1407,1407,Makakilo City,21.3469,-158.0858,79.12,55,0,13.80,clear sky,US
1409,1409,The Valley,18.2170,-63.0578,78.94,73,20,9.22,few clouds,AI
1416,1416,Buala,-8.1450,159.5921,83.84,74,99,5.06,light rain,SB

In [120]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                361
City                   361
Lat                    361
Lng                    361
Max Temp               361
Humidity               361
Cloudiness             361
Wind Speed             361
Weather Description    361
Country                175
dtype: int64

In [121]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [148]:
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Country
711,711,Ahipara,-35.1667,173.1667,75.45,53,97,12.75,overcast clouds,NZ
712,712,Vaini,-21.2000,-175.2000,80.55,75,100,12.12,light rain,TO
713,713,Lorengau,-2.0226,147.2712,79.09,85,100,12.95,overcast clouds,PG
715,715,Sao Jose Da Coroa Grande,-8.8978,-35.1478,79.20,80,88,8.32,overcast clouds,BR
717,717,Machala,-3.2667,-79.9667,82.35,65,75,3.44,light rain,EC
...,...,...,...,...,...,...,...,...,...,...
1392,1392,Lodja,-3.4833,23.4333,75.15,69,100,2.33,overcast clouds,CD
1404,1404,Luanda,-8.8368,13.2343,78.80,83,75,9.22,broken clouds,AO
1407,1407,Makakilo City,21.3469,-158.0858,79.12,55,0,13.80,clear sky,US
1409,1409,The Valley,18.2170,-63.0578,78.94,73,20,9.22,few clouds,AI
1416,1416,Buala,-8.1450,159.5921,83.84,74,99,5.06,light rain,SB

In [149]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
711,Ahipara,NZ,75.45,overcast clouds,-35.1667,173.1667,
712,Vaini,TO,80.55,light rain,-21.2000,-175.2000,
713,Lorengau,PG,79.09,overcast clouds,-2.0226,147.2712,
715,Sao Jose Da Coroa Grande,BR,79.20,overcast clouds,-8.8978,-35.1478,
717,Machala,EC,82.35,light rain,-3.2667,-79.9667,
720,Roxas,PH,78.04,broken clouds,11.5853,122.7511,
721,Arraial Do Cabo,BR,76.86,broken clouds,-22.9661,-42.0278,
733,Souillac,MU,79.18,light intensity shower rain,-20.5167,57.5167,
736,Mahibadhoo,MV,81.86,broken clouds,3.7833,72.9667,
743,Butaritari,KI,82.11,few clouds,3.0707,172.7902,

In [150]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
    
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
711,Ahipara,NZ,75.45,overcast clouds,-35.1667,173.1667,Ahipara Holiday Park
712,Vaini,TO,80.55,light rain,-21.2000,-175.2000,Keleti Beach Resort
713,Lorengau,PG,79.09,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
715,Sao Jose Da Coroa Grande,BR,79.20,overcast clouds,-8.8978,-35.1478,Crôa Mares Hotel
717,Machala,EC,82.35,light rain,-3.2667,-79.9667,"Hotel ""Bolivar Internacional"""
...,...,...,...,...,...,...,...
1392,Lodja,CD,75.15,overcast clouds,-3.4833,23.4333,
1404,Luanda,AO,78.80,broken clouds,-8.8368,13.2343,Hotel Fórum
1407,Makakilo City,US,79.12,clear sky,21.3469,-158.0858,Marriott's Ko Olina Beach Club
1409,The Valley,AI,78.94,few clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort
1416,Buala,SB,83.84,light rain,-8.1450,159.5921,Maringe Lagoon Lodge

In [152]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset = ["Hotel Name"])
clean_hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
711,Ahipara,NZ,75.45,overcast clouds,-35.1667,173.1667,Ahipara Holiday Park
712,Vaini,TO,80.55,light rain,-21.2000,-175.2000,Keleti Beach Resort
713,Lorengau,PG,79.09,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
715,Sao Jose Da Coroa Grande,BR,79.20,overcast clouds,-8.8978,-35.1478,Crôa Mares Hotel
717,Machala,EC,82.35,light rain,-3.2667,-79.9667,"Hotel ""Bolivar Internacional"""
...,...,...,...,...,...,...,...
1392,Lodja,CD,75.15,overcast clouds,-3.4833,23.4333,
1404,Luanda,AO,78.80,broken clouds,-8.8368,13.2343,Hotel Fórum
1407,Makakilo City,US,79.12,clear sky,21.3469,-158.0858,Marriott's Ko Olina Beach Club
1409,The Valley,AI,78.94,few clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort
1416,Buala,SB,83.84,light rain,-8.1450,159.5921,Maringe Lagoon Lodge

In [154]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [155]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Weather Descroption</dt><dd>{Weather Description}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [157]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))